.outer {
  --background: var(--color-bg-primary);
  --border: var(--color-text-primary);
  --color: var(--color-text-primary);

  background-color: var(--background);
  border: 2px var(--border) solid;
  color: var(--color);
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding: 0.5em 1.5em;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &.cta {
    --background: var(--color-semantic-action);
    --border: var(--color-semantic-action);
    --color: var(--color-bg-primary);
  }

  &:disabled {
    --background: var(--color-bg-secondary);
    --border: var(--color-bg-secondary);
    --color: var(--color-text-secondary);
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: var(--color);
    color: var(--background);
  }
}
