.outer {
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 0.5em 1.5em;

  &.cta {
    background-color: rgb(255, 0, 136);
  }

  &:disabled {
    background-color: rgb(100, 100, 100);
    cursor: not-allowed;
  }
}
