.outer {
  background: var(--color-bg-secondary);
  border: 2px solid var(--color-neutral-400);
  color: black;
  display: block;
  height: 210px;
  position: relative;
  top: 0;
  left: 0;
  text-decoration: none;
  width: 100%;

  @media (min-width: 768px) {
    height: 270px;
  }
}

.bgImageWrap {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.bgImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.labelContainer {
  background: var(--color-neutral-400);
  color: var(--color-neutral-100);
  font-family: var(--font-title);
  padding: 16px 12px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  min-height: 70px;
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    min-height: 90px;
  }
}

.label {
  font-size: 2rem;
  line-height: 1em;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}
