.outer {
  background: #dddddd;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 1.2em;
  height: 200px;
  padding: 0.5em 1.5em;
  position: relative;
  width: 200px;

  &.overlay {
    color: white;
    background: rgba(0, 0, 0, 0.5);
  }

  &.link {
    text-decoration: none;
  }
}

.bgImageWrap {
  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;
  z-index: -1;
}

.bgImage {
  height: 100%;
  width: 100%;
}

.linkArrow {
  margin-left: auto;
}
