@use "mixins" as m;

.outer {
  color: var(--color-neutral-100);
  background-color: var(--color-neutral-300);
  border-bottom: 1px currentColor solid;
  padding-bottom: 8px;
  padding-top: 8px;
}

.inner {
  @include m.container;

  text-align: center;
}

.link {
  text-decoration: underline;
}
