.outer {
  color: var(--color-text-primary);
  background: var(--color-bg-secondary);
  border-top: 2px solid var(--color-text-primary);
  padding: 32px 20px;
}

.inner {
  display: flex;
  justify-content: space-between;
  word-break: break-word;
  width: 100%;
}

.content {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.category {
  width: 144px;
}

.categoryLabel {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 600;
}

.categoryList {
  padding: 0;
  list-style: none;
  margin-top: 12px;
}

.categoryItem {
  margin-bottom: 8px;
}

.link {
  text-decoration: none;
}

.formContainer {
  flex-grow: 1;

  @media (min-width: 768px) {
    flex-grow: 0;
  }
}

.formWrap {
  border: 2px solid var(--color-text-primary);
  display: flex;
  height: 48px;
  margin-top: 12px;
  width: 100%;
}

.formInput {
  padding: 0.5em 0.7em;
  flex-grow: 1;
  border: none;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.formButton {
  width: 48px;
  background: var(--color-text-primary);
  border: none;
  color: var(--color-bg-primary);
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  display: block;
  margin-top: 32px;
}
