.outer {
  color: var(--color-text-primary);
  background: var(--color-bg-secondary);
  border-top: 2px solid var(--color-text-primary);
  padding-top: 32px;
  padding-bottom: 32px;
}

.inner {
  display: flex;
  justify-content: space-between;
  word-break: break-word;
  width: 100%;
  grid-column: 1/-1;
}

.content {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.category {
  width: 175px;
}

.categoryLabel {
  font-size: 1.25em;
  line-height: 1.4em;
  font-weight: 600;
}

.categoryList {
  padding: 0;
  list-style: none;
  margin-top: 12px;
}

.categoryItem {
  margin-bottom: 8px;
}

.link {
  text-decoration: none;
}

.formContainer {
  flex-grow: 1;

  @media (min-width: 768px) {
    flex-grow: 0;
    width: 327px;
  }
}

.formWrap {
  border: 2px solid var(--color-text-primary);
  display: flex;
  height: 68px;
  margin-top: 8px;
  padding: 12px;
  width: 100%;
  background: var(--color-bg-primary);

  @media (min-width: 768px) {
    margin-top: 12px;
    padding: 16px;
    height: 76px;
  }
}

.formInput {
  flex-grow: 1;
  font-size: 1.25em;
  line-height: 1.25em;
  border: none;
  background: var(--color-bg-primary);
}

.formInput::placeholder {
  color: var(--color-text-primary);
}

.formButton {
  width: 48px;
  background: var(--color-text-primary);
  border: none;
  border-radius: 4px;
  color: var(--color-bg-primary);
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyrightWrap {
  grid-column: 1/-1;

  @media (min-width: 768px) {
    height: 53px;
    width: 100%;
    position: relative;
  }
}

.copyright {
  display: block;
  font-family: var(--font-title);
  font-size: 1.25em;
  line-height: 1.2em;

  @media (min-width: 768px) {
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
