.productWrapper {
  width: 200px;
}
.productWrapper:hover {
  opacity: 1;
}
.unavailable {
  opacity: 0.5;
}
.priceContainer {
  display: flex;
  gap: 0.25rem;
}
.salePrice {
  color: red;
}

.prevPrice {
  text-decoration: line-through;
}

.imgWrapper {
  background-color: #dddddd;
  position: relative;
  width: 100%;
  aspect-ratio: 3/4;
}

.productImg,
.revealImg {
  width: 100%;
  position: absolute;
  aspect-ratio: 3/4;
}

.revealImg {
  display: none;
}

.imgWrapper:hover .revealImg {
  display: block;
  z-index: 1;
}

.detailsContainer {
  h5 {
    font-size: 1rem;
    padding: 0.75rem 0;
    font-weight: 400;
  }
}
