.productWrapper {
  width: 200px;
}
.productWrapper:hover {
  opacity: 1;
}
.unavailable {
  opacity: 0.5;
}

.priceContainer {
  display: flex;
  gap: 0.25rem;
}
.salePrice {
  color: red;
}

.compareAtPrice {
  text-decoration: line-through;
}

.imgWrapper {
  background-color: #dddddd;
  position: relative;
  width: 100%;
  aspect-ratio: 3/4;
}

.productImg,
.revealImg {
  width: 100%;
  position: absolute;
  height: 100%;
}

.revealImg {
  display: none;
}

.productWrapper:hover .revealImg {
  display: block;
  z-index: 1;
}

.productLabel,
.price,
.comingSoon {
  display: block;
  margin-top: 20px;
}
