.productWrapper {
  &.unavailable {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.salePrice {
  color: red;
  margin-right: 5px;
}

.compareAtPrice {
  text-decoration: line-through;
}

.imgWrapper {
  background-color: #dddddd;
  position: relative;
  width: 100%;
  aspect-ratio: 3/4;
}

.productImg,
.revealImg {
  width: 100%;
  position: absolute;
  height: 100%;
}

.revealImg {
  display: none;
}

.productWrapper:hover .revealImg {
  display: block;
  z-index: 1;
}

.productLabel,
.price,
.comingSoon {
  display: block;
  margin-top: 20px;
}
